<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Box</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="mx-auto" style="width: 600px;">

        <div class="row justify-content-end mt-2">

            <a class="btn btn-primary mr-2" href="/logout">Logout</a>
            <a class="btn btn-primary" href="/search">Back to Recipe Search</a>
        </div>

    <div class="row justify-content-center mt-2">

        <h1>{{request.session.user}}'s Recipe Box</h1> 

        {% for favorites in user_favorite %}
        <div class="card text-black bg-warning mb-3" style="max-width: auto">
            <div class="card-body">
                <h5 class="card-title">{{favorites.recipe_name}}</h5>
                <p class="card-text">{{favorites.protein}}, {{favorites.carb}} & {{favorites.veggie}}</p>
                <!-- <p>{{favorites.carb}}</p>
                <p>{{favorites.veggie}}</p> -->
                <p class="card-text">{{favorites.direction}}</p>
            </div>
        </div>
        {% endfor %}
    </div>






        </div>
    </div>






    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>